# №35

In [2]:
name = input("Type name: ")
for i in range(3):
    print(name)

Type name:  Name

Name
Name
Name

# №36

In [3]:
name = input("Type name: ")
number = int(input("Type number: "))

for i in range(number):
    print(name)

Type name:  Name
Type number:  2

Name
Name

# №37

In [5]:
name = input("Type name: ")

for i in name:
    print(i)

Type name:  Name

N
a
m
e

# №38

In [8]:
name = input("Type name: ")
number = int(input("Type number: "))

for j in range(number):
    for i in name:
        print(i)

Type name:  Name
Type number:  2

N
a
m
e
N
a
m
e

# №39

In [10]:
number = int(input("Type number in range from 1 to 12: "))

for i in range (1, 11):
    result = number * i
    print(str(number)+"*"+str(i)+"="+str(result))

Type number in range from 1 to 12:  3

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

# №40

In [4]:
number = int(input("Type number un range from 0 to 50: "))

for i in range(number):
    print(number)
    number -= 1

Type number un range from 0 to 50:  8

8
7
6
5
4
3
2
1

# №41

In [6]:
name = input("Type your name: ")
number = int(input("Type number in range from 0 to 10: "))
length = len(name)

if number < 10:
    for i in range(number):
        print(name)
else:
    for i in range(3):
        print("Too high!")

Type your name:  Castus
Type number in range from 0 to 10:  12

Too high!
Too high!
Too high!

# №42

In [10]:
total = 0

number1 = int(input("Type number one: "))
q1 = input("Would you like to add number one? (y or n)")

if q1 == "y":
    total = total + number1

number2 = int(input("Type number two: "))
q2 = input("Would you like to add number two? (y or n)")

if q2 == "y":
    total = total + number2
    
number3 = int(input("Type number three: "))
q3 = input("Would you like to add number three? (y or n)")

if q3 == "y":
    total = total + number3
    
number4 = int(input("Type number four: "))
q4 = input("Would you like to add number four? (y or n)")

if q4 == "y":
    total = total + number4
    
number5 = int(input("Type number five: "))
q5 = input("Would you like to add number five? (y or n)")

if q5 == "y":
    total = total + number5

print("Result:" + str(total))

Type number one:  4
Would you like to add number one? (y or n) n
Type number two:  7
Would you like to add number two? (y or n) n
Type number three:  4
Would you like to add number three? (y or n) y
Type number four:  8
Would you like to add number four? (y or n) y
Type number five:  15
Would you like to add number five? (y or n) n

Result:12

# №43

In [21]:
Choice = input("Type 'f' for forward and 'r' for reverse: ")

if Choice == "f":
    number = int(input("Type number: "))

    for i in range(number):
        print(i)

elif Choice == "r":
    number = int(input("Type number to 20: "))
    bond = 20

    for i in range(20):
        print(bond)
        bond -= 1
        if bond == number:
            break
else:
    print("I don’t understand")

Type 'f' for forward and 'r' for reverse:  r
Type number to 20:  14

20
19
18
17
16
15

# №44

In [1]:
people = int(input("Сколько людей вы бы хотели пригласить? "))

if people < 10:
    
    for person in range(people):
        
        person_name = input("\nНаберите имя гостя: ")
    
        print("\n" + person_name + ", успешно приглашён!")
    
else:
    
    print("\nСлишком много людей!")

Сколько людей вы бы хотели пригласить? 3

Наберите имя гостя: Petr

Petr, успешно приглашён!

Наберите имя гостя: Jane

Jane, успешно приглашён!

Наберите имя гостя: Fide

Fide, успешно приглашён!